@import url("https://temp-ui.netlify.app/style.css");
@import url(index.css);
@import url(ecommerce/pages/authentication/login.css);
@import url(ecommerce/pages/productlist/product.css);

:root{
    --dark-white-background: #615f5f;
}

*{
    padding: 0;
    margin: 0;
}

.text-bold{
    font-weight: 600;
}